@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

* {
    font-family: Outfit, sans-serif;
}
.active {
    background-color: #ffebf5;
    border-color: #c58645;
}